doctype html
html(lang="en")
  body
    | Hello #{thing}!
    block main
      p This template is in a dotted path. You can't ask for a template in a dotted path.
      p But! We can get here through a PUG include.
